.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    overflow-x: hidden;
}

.sc_wrapper {
    position: relative;
    margin: 2vw;
    width: 20vw;
    height: auto;
    border-radius: 10px;
}